.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #c8d8c4;
  color: #3b3b3b;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.card-img-top {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #4f4f4f;
  font-size: 1rem;
}

.text-muted {
  color: #4f4f4f;
  font-size: 0.9rem;
}

.row img {
  margin-bottom: 1rem;
}

.director-card {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}

.director:hover .director-card {
  display: block;
}

.actor-card {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}

.actor:hover .actor-card {
  display: block;
}

.director-card img, .actor-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tooltip img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.screenshot-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.screenshot-wrapper {
  display: flex;
  overflow-x: hidden;
  width: calc(200px * 5);
}

.screenshot {
  flex: 0 0 auto;
  margin-right: 10px;
}

.screenshot-img {
  width: 200px;
  height: auto;
}

.scroll-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
