.app-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #c8d8c4;
  margin: 250px;
}

.app-info-image {
  width: 300px;
  height: auto;
  margin-right: auto;
}

.app-info-text h1 {
  font-size: 2.5em;
  color: #748d7b;
  text-align: center;
  font-weight: bold;
}

.app-info-text p {
  font-size: 1.2em;
  color: #616161;
  text-align: justify;
  line-height: 1.6;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
