<div class="container mt-3">
  <input [(ngModel)]="searchTerm" placeholder="Поиск по названию фильма" class="form-control mb-3">
  <div class="grid">
    <div class="card" *ngFor="let movie of filteredMovies">
      <a [routerLink]="['/movies', movie.id]">
        <img class="card-img" [src]="movie.poster" alt="Movie poster">
        <div class="card-body">
          <h5 class="card-title">{{movie.ruTitle}}</h5>
          <p class="card-text"><small class="text-muted">{{movie.releaseYear}}</small></p>
          <p class="card-text">{{movie.length}} минут</p>
          <p class="card-text">Жанры: {{movie.genres.join(', ')}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
