body {
    background-image: url('../MAIN/img/21.jpg');
    background-size: cover;
}

h1 {
    color: #afafaf;
    font-size: 50px;
    padding: 50px;
}

a {
    color: #ff4d00;
    font-size: 25px;
    padding: 50px;
}

